# Виртуальное окружение
venv/
*.env
.env.local

# Идеальные файлы для VSCode
.vscode/

# Python данные
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Установленные пакеты
pip-log.txt
pip-wheel-metadata/
*.egg-info/
*.egg
dist/
build/
eggs/

# Настройки тестирования
.coverage
coverage.xml
*.cover
*.py,cover

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db
*.sqlite3-journal
*.sqlite3
*.db

# Закрытые данные (например, секреты, параметры)
secret_key.txt
config_secrets.yaml
ipam/ipam_db.sqlite3
