{% extends 'base.html' %}

{% block title %}Последние обновления на сайте{% endblock %} 

{% block content %}
<h1>IP Address Details</h1>

<!-- Информация о IP-адресе -->
<table class="table table-bordered">
    <tr>
        <th>IP Address</th>
        <td>{{ ip.ip_address }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ ip.get_status_display }}</td>
    </tr>
    <tr>
        <th>Subnet</th>
        <td>{{ ip.subnet }}</td>
    </tr>
    <tr>
        <th>User</th>
        <td>{{ ip.user }}</td>
    </tr>
    <tr>
        <th>MAC Address</th>
        <td>{{ ip.mac_address }}</td>
    </tr>
    <tr>
        <th>Last Seen</th>
        <td>{{ ip.last_seen }}</td>
    </tr>
    <tr>
        <th>Created At</th>
        <td>{{ ip.created_at }}</td>
    </tr>
    <tr>
        <th>Updated At</th>
        <td>{{ ip.updated_at }}</td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>{{ ip.comment }}</td>
    </tr>
</table>

<!-- Форма для изменения статуса и комментария -->
<h2>Update IP Information</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>


{% endblock %}
