{% extends 'base.html' %}

{% block title %}Последние обновления на сайте{% endblock %} 

{% block content %}
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">     
        <h1>Последние обновления на сайте</h1>
        <main>
            Информация на главной странице
            <a href="">все записи</a>
            {% for ip in page_obj %}
                <p>
                  {{ ip.ip_address }} {{ ip.status }} {{ ip.mac_address }}
                  <!-- Кнопка для перехода -->
                  <a href="{% url 'ips:var_ips_detail' ip.ip_address %}">
                    <button type="button">Подробнее</button>
                  </a>
                </p>    
                {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
            {% include 'paginator.html' %}
        </main>
      </div>
{% endblock %} 