<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Список IP-адресов{% endblock %} 

{% block content %}

<h1>{{ just_title }}</h1>

<p>
    Это <strong>IPAM (IP Address Management)</strong> система. В тестовой сети у нас отсутствует DHCP, 
    т.к. в нашей области деятельности нужна высокая надёжность и нельзя полагаться на широковещательную рассылку.
</p>

<p>
    Перед или при подключении нового устройства к тестовой сети нам необходимо для него выбрать свободный IP адрес.
</p>

<p>
    Данный сервис содержит:
</p>
<ul>
    <li>Пользователей.</li>
    <li>Список IP-адресов.</li>
</ul>

<p>
    Пользователи могут:
</p>
<ul>
    <li>Резервировать IP-адреса.</li>
    <li>Оставлять комментарии.</li>
</ul>

<p>
    Дополнительно добавлен сервис, который проверяет, какие IP-адреса сейчас <strong>"онлайн"</strong> в тестовой сети.
    Проверка выполняется командой: <code>arping -c 2 -w 3</code>
</p>

{% endblock %}


{% comment %} <!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <header>
        <!-- Это тег шаблонизатора include, сюда будет включён код
      из файла header.html -->
        {% include 'includes/header.html' %}
    </header>
    <main>
        Информация на главной странице
        <a href="">все записи группы</a>
        {% for ip in ips %}
            <p>{{ ip.ip_address }} {{ ip.status }} {{ ip.mac_address }}</p>    
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>

</html> {% endcomment %}